*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
}

#game{
    width: 100vw;
    height: 100vh;
    background: url('background.png');
}

#player{
    width: 30px;
    height: 30px;
    left: 50vw;
    background: url('spaceship.png');
    position: absolute;
    bottom: 100px;
    z-index: 1;
}

#score{
    font-size: xx-large;
    color: white;
    padding: 10px;
    user-select: none;
}

#accuracy{
    position: absolute;
    font-size: xx-large;
    color: white;
    padding: 10px;
    user-select: none;
}
#dottedLine{
    border-top: 1px dotted white;
    position: absolute;
    bottom: 25vh;
    height: 5px;
    width: 120vw;
}

.enemy{
    width: 30px;
    height: 15px;
    background: url('enemy.png');
    position: absolute;
    display: inline-block;
}

.bullet{
    width: 15px;
    height: 25px;
    background: url('bullet.png');
    background-size: cover;
    position: absolute;
}

#gameOverScreen{
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    user-select: none;
}

#title{
    position: absolute;
    top: 40vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: white;
    font-size: xx-large;
}

#playBtn{
    position: absolute;
    top: 60vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: black;
    font-size: xx-large;    
}