{% extends "main/base.html" %}

{% load static %}

{% block title %}{{ request.user }} | Edge Games{% endblock %}

{% block body %}
	
	<form id="developer-profile-form" action="{% url 'handle_developer_profile' %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="max-w-3xl mx-auto px-4 py-10">

            <div class="mb-5 text-center">

				<div id="developer-profile-pic-username" class="mx-auto w-48 h-48 mb-2 border rounded-full relative bg-gray-100 mb-4 shadow-inset">
					<div class="inline-flex overflow-hidden relative justify-center items-center w-full h-full bg-white rounded-full border-2 border-blue-600 dark:bg-gray-600">
                        <span class="text-9xl text-blue-600 dark:text-blue-300">{{ developer.username.0 | capfirst }}</span>
                    </div>
				</div>
				<img id="developer-profile-pic-preview" class="hidden mx-auto w-48 h-48 mb-2 border rounded-full relative bg-gray-100 mb-4 shadow-inset" src="">
								
				<label for="developer-profile-pic" type="button" class="cursor-pointer inine-flex justify-between items-center focus:outline-none border py-2 px-4 rounded-lg shadow-sm text-left bg-gray-700  text-gray-400 bg-white hover:bg-gray-500 font-medium">
					<svg xmlns="http://www.w3.org/2000/svg" class="inline-flex flex-shrink-0 w-6 h-6 -mt-1 mr-1" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<rect x="0" y="0" width="24" height="24" stroke="none"></rect>
						<path d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
						<circle cx="12" cy="13" r="3" />
					</svg>
					Browse Photo
				</label>

				<div class="mx-auto w-48 text-gray-500 text-xs text-center mt-1">Click to add the thumbnail picture</div>

				<input name="developer_profile_pic" id="developer-profile-pic" type="file" class="hidden" />

			</div>

			<div class="my-6 text-center">
                <h1 class="text-4xl font-medium text-gray-300">{{ developer.username }}</h1>
            </div>

			<div class="mb-5">
				<label for="about-input" class="font-bold mb-1 text-gray-400 block">About <span id="about-char" class="text-gray-500">(0/500-750)</span></label>
				<textarea id="about-input" name="developer_about" rows="4" class="bg-gray-700 resize-none w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-400 font-medium" placeholder="Write something about yourself...">{{ developer.about }}</textarea>
			</div>
			
			<div class="mb-5">
				<label for="instgram-input" class="font-bold mb-1 text-gray-400 block">Instagram</label>
				<input id="instagram-input" type="text" name="instagram-link" class="bg-gray-700 w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-400 font-medium" placeholder="Enter your Instagram Link here...">
			</div>

			<div class="mb-5">
				<label for="twitter-input" class="font-bold mb-1 text-gray-400 block">Twitter</label>
				<input id="twitter-input" type="text" name="twitter-link" class="bg-gray-700 w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-400 font-medium" placeholder="Enter your Twitter Link here...">
			</div>

			<div class="mb-5">
				<label for="linkedin-input" class="font-bold mb-1 text-gray-400 block">LinkedIn</label>
				<input id="linkedin-input" type="text" name="linkedin-link" class="bg-gray-700 w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-400 font-medium" placeholder="Enter your LinkedIn Link here...">
			</div>

			<div class="mb-5">
				<label for="github-input" class="font-bold mb-1 text-gray-400 block">GitHub</label>
				<input id="github-input" type="text" name="github-link" class="bg-gray-700 w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-400 font-medium" placeholder="Enter your GitHub Link here...">
			</div>
			
			<input type="hidden" name="developer_id" value="{{ developer.id }}">
			<div class="w-full flex justify-center">
				<button id="submit-btn" type="submit" class="w-32 focus:outline-none border border-transparent py-2 px-5 rounded-lg shadow-sm text-center text-white bg-blue-500 hover:bg-blue-600 font-medium">Submit</button>
			</div>
        </div>
	</form>
		    

{% endblock %}

{% block script %}

	const developerProfileForm = document.getElementById('developer-profile-form')
	showConfirmation(developerProfileForm, "Are you sure you want to update your profile?")

	const developerProfilePicUsername = document.getElementById('developer-profile-pic-username')
	const developerProfilePreview = document.getElementById('developer-profile-pic-preview')
	const developerProfilePic = document.getElementById('developer-profile-pic')

	developerProfilePic.addEventListener('change', (e) => {
		const files = developerProfilePic.files[0];
		if (files) {
			const fileReader = new FileReader();
			fileReader.readAsDataURL(files);
			fileReader.addEventListener("load", function () {
				developerProfilePreview.src = this.result
				developerProfilePreview.classList.toggle('hidden')
				developerProfilePicUsername.classList.toggle('hidden')
			});    
		}
	})

	const aboutInput = document.getElementById('about-input')
	const aboutChar = document.getElementById('about-char')
	const submitBtn = document.getElementById('submit-btn')

	function enableSubmitBtn() {
		submitBtn.classList.remove("bg-gray-600", "hover:bg-gray-600", "cursor-not-allowed")
		submitBtn.disabled = false
		submitBtn.classList.add("bg-blue-500", "hover:bg-blue-600", "cursor-pointer")
	}

	function disableSubmitBtn() {
		submitBtn.classList.remove("bg-blue-500", "hover:bg-blue-600", "cursor-pointer")
		submitBtn.setAttribute('disabled', true)
		submitBtn.classList.add("bg-gray-600", "hover:bg-gray-600", "cursor-not-allowed")
	}

	disableSubmitBtn()
	aboutInput.addEventListener('keydown', (e) => {
		let value = aboutInput.value.split(" ");

		if (value.length > 500) {
			aboutChar.classList.remove('text-gray-500')
			aboutChar.classList.remove('text-green-500')
			aboutChar.classList.add('text-red-500')
			disableSubmitBtn()
		} else if (value.length >= 250 && value.length <= 500) {
			aboutChar.innerText = `(${value.length}/250-500)`
			aboutChar.classList.remove('text-gray-500')
			aboutChar.classList.remove('text-red-500')
			aboutChar.classList.add('text-green-500')
			enableSubmitBtn()
		} else {
			aboutChar.innerText = `(${value.length}/250-500)`
			aboutChar.classList.remove('text-gray-500')
			aboutChar.classList.remove('text-green-500')
			aboutChar.classList.add('text-red-500')
			disableSubmitBtn()
		}
	})

{% endblock %}