{% extends "main/base.html" %}

{% block title %}Signup | Edge Games{% endblock %}

{% block body %}
    <main class="mx-auto flex min-h-screen w-full items-center justify-center bg-transparent text-white">
        <section class="flex w-[30rem] flex-col space-y-10">
            <div class="text-center text-4xl font-medium">Sign Up</div>
            <form action="{% url 'handle_signup' %}" method="POST" class="w-full flex flex-col space-y-10 w-[30rem]">
                {% csrf_token %}
                <div>
                    <div class="w-full transform border-b-2 bg-transparent text-lg duration-100 focus-within:border-blue-500">
                        <input required id="username-input" name="username" type="text" placeholder="Username" class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"/>
                    </div>
                    <div id="username-message" class="hidden text-red-700 flex p-4 bg-transparent" role="alert">
                        <svg id="username-info" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                        <div id="username-content" class="ml-3 text-sm font-medium"></div>
                    </div>
                </div>

                <div class="w-full transform border-b-2 bg-transparent text-lg duration-100 focus-within:border-blue-500">
                    <input required id="email-input" name="email" type="email" placeholder="E-Mail" class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"/>
                </div>

                <div class="w-full transform border-b-2 bg-transparent text-lg duration-100 focus-within:border-blue-500">
                    <input required id="password-input" name="password" type="password" placeholder="Password" class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"/>
                </div>

                <div>
                    <div class="w-full transform border-b-2 bg-transparent text-lg duration-100 focus-within:border-blue-500">
                        <input required id="confirm-password-input" type="password" placeholder="Confirm Password" class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"/>
                    </div>
                    
                    <div id="confirm-password-message" class="hidden flex p-4 mb-4 border-red-500" role="alert">
                        <svg id="confirm-password-info" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                        <div id="confirm-password-content" class="ml-3 text-sm font-medium text-red-700"></div>
                    </div>
                </div>
                
                <div class="flex items-center">
                    <input id="agreement-checkbox" type="checkbox" value="" class="w-4 h-4 rounded text-blue-600 border-gray-600">
                    <label for="agreement-checkbox" class="ms-2 text-sm font-medium text-gray-300">I agree to the <a href="{% url 'terms_and_conditions' %}" class="text-blue-500 hover:underline">Terms and Conditions</a> and the <a href="{% url 'privacy_policy' %}" class="text-blue-500 hover:underline">Privacy Policy</a>.</label>
                </div>

                <input name="redirect-url" type="hidden" value="{{ redirect_url }}">
                <button id="signup-form-btn" type="submit" class="transform rounded-sm bg-blue-500 py-2 font-bold duration-100 hover:bg-blue-400">Sign Up</button>
            </form>
            <p class="text-center text-lg">Already have an account? <a href="{% url 'login' %}" class="font-medium text-blue-500 underline-offset-4 hover:underline" >Log In</a></p>
        </section>
    </main>
{% endblock %}

{% block script %}

    const usernameInput = document.getElementById('username-input');
    const emailInput = document.getElementById('email-input');
    const passwordInput = document.getElementById('password-input');
    const confirmPasswordInput = document.getElementById('confirm-password-input');
    const signUpForm = document.getElementById('signup-form');
    const signUpFormBtn = document.getElementById('signup-form-btn');
    const agreementCheckbox = document.getElementById('agreement-checkbox');
    const $ = jQuery.noConflict();

    let canSubmitUsername = false;
    let canSubmitEmail = true;
    let canSubmitPassword = false;
    let canSubmitConfirmPassword = false;
    let canSubmitAgreementCheckbox = false;

    const debounce = (func, delay) => {
      let debounceTimer
      return function() {
          const context = this
          const args = arguments
              clearTimeout(debounceTimer)
                  debounceTimer = setTimeout(() => func.apply(context, args), delay)
        }
      }

    // Handling Username
    usernameInput.addEventListener('input', function() {
        $.ajax({
              url: "{% url 'signingup' %}",
              type: "POST",
              data: {
                    'type': 'username',
                    'username': $('#username-input').val(),
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },

            success: debounce(function(data) {
                if (data.status == 'success') {
                    $('#username-message').removeClass('border-red-500 text-red-700 hidden');
                    $('#username-content').removeClass('text-red-700')
                    $('#username-info').removeClass('text-red-700')
                    $('#username-message').addClass('border-green-500');
                    $('#username-content').addClass('text-green-700')
                    $('#username-info').addClass('text-green-700')
                    $('#username-content').text(data.message);
                    canSubmitUsername = true
                } else if ($('#username-input').val() == '') {
                    $('#username-message').addClass('hidden');
                    canSubmitUsername = false
                } else {
                    $('#username-message').removeClass('border-green-500 text-green-700 hidden');
                    $('#username-content').removeClass('text-green-700')
                    $('#username-info').removeClass('text-green-700')
                    $('#username-message').addClass('border-red-500 text-red-700');
                    $('#username-content').addClass('text-red-700')
                    $('#username-info').addClass('text-red-700')
                    $('#username-content').text(data.message);
                    canSubmitUsername = false
                }
            }),

        })
    });

    usernameInput.addEventListener('keydown', function(e) {
        if (e.keyCode == 32) {
                e.preventDefault();
                $('#username-content').text('Username cannot contain spaces');
                $('#username-message').removeClass('border-green-500 dark:bg-green-200 text-green-700 hidden');
                $('#username-content').removeClass('text-green-700')
                $('#username-info').removeClass('text-green-700')
                $('#username-message').addClass('border-red-500 text-red-700');
                $('#username-content').addClass('text-red-700')
                $('#username-info').addClass('text-red-700')
                canSubmitUsername = false
        }
    });

    function checkWhiteSpace(character) {
        return character != " "
    }

    function passwordConfirmation () {
        if (confirmPasswordInput.value == passwordInput.value && passwordInput.value.split("").every(checkWhiteSpace) && passwordInput.value != "") {
            $('#confirm-password-message').removeClass('border-red-500 text-red-700 hidden');
            $('#confirm-password-content').removeClass('text-red-700')
            $('#confirm-password-info').removeClass('text-red-700')
            $('#confirm-password-message').addClass('border-green-500');
            $('#confirm-password-content').addClass('text-green-700')
            $('#confirm-password-info').addClass('text-green-700')
            $('#confirm-password-content').text('Password and Confirm Password match');
            canSubmitConfirmPassword = true
        } else {
            $('#confirm-password-message').removeClass('border-green-500 text-green-700 hidden');
            $('#confirm-password-content').removeClass('text-green-700')
            $('#confirm-password-info').removeClass('text-green-700')
            $('#confirm-password-message').addClass('border-red-500 text-red-700');
            $('#confirm-password-content').addClass('text-red-700')
            $('#confirm-password-info').addClass('text-red-700')
            $('#confirm-password-content').text('Password and Confirm Password do not match');
            canSubmitConfirmPassword = false
        }
    }

    //Handling Confirm Password
    confirmPasswordInput.addEventListener('input', passwordConfirmation)
    passwordInput.addEventListener('input', passwordConfirmation)

    //Handling Agrremnt checkbox
    agreementCheckbox.addEventListener('input', function () {
        if (agreementCheckbox.checked) {
            canSubmitAgreementCheckbox = true
        } else {
            canSubmitAgreementCheckbox = false
        }
    })

    setInterval(function() {

        if (canSubmitUsername && canSubmitConfirmPassword && canSubmitAgreementCheckbox) {
            $('#signup-form-btn').prop('disabled', false);
            $('#signup-form-btn').removeClass('bg-gray-500');
            $('#signup-form-btn').addClass('bg-blue-500 hover:bg-blue-400');
        }  else {
            $('#signup-form-btn').attr('disabled', true);
            $('#signup-form-btn').removeClass('bg-blue-500 hover:bg-blue-400');
            $('#signup-form-btn').addClass('bg-gray-500');
        }

    }, 100)

{% endblock %}