{% extends "main/base.html" %}
{% load static %}

{% block title %} 500 Internal Server Error | Edge Games {% endblock %}

{% block body %}
 <section class="bg-transparent">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 flex flex-col justify-center">
        <div class="mx-auto max-w-screen-sm text-center">
            <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-blue-500">500</h1>
            <p class="mb-4 text-3xl tracking-tight font-bold md:text-4xl text-white">Internal Server Error!</p>
            <p class="mb-4 text-lg font-light text-gray-400">We are already working to solve the problem. </p>
        </div>   
        
        <div class="mx-auto max-w-screen-sm text-start">
            <h2 class="mb-2 text-lg font-semibold text-white w-full">Meanwhile you can:</h2>
            <ul class="max-w-md space-y-1 list-disc list-inside text-gray-400">
                <li>Wait a little while</li>
                <li>Try refreshing the page</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}